In [16]:
import pandas as pd
## Task 1:-Create a pandas dataframe as df for 10 observation and 5 features
data={ 'Name':['george','garry','shivam','panda','python','bill gates','elon','musk','gracy','harry'],
      'Age':[20,34,35,33,None,78,89,35,44,56],
       'Employment':['u','e','u','u','u','e','e','e','e','e'],
       'Gender':['M','F','M','M','M','M','M','M','F','M'],
       'CITY':['New york','delhi',None,'karachi','banglore','chennai','varanasi','manglore','goa','singapore']
      }
df=pd.DataFrame(data)
print(df)


## Task2:- Check the info of 'df'
k=df.info()
k


##Task 3:- check the descriptive stats of df
df.describe()

##Task4:- Check the 4th index observation with loc slicing opertator
l=df.loc[3]
l

##Task 5:- Check the null values of each features
n=df.isnull().sum()
n

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Age         9 non-null      float64
 2   Employment  10 non-null     object
 3   Gender      10 non-null     object
 4   CITY        9 non-null      object
dtypes: float64(1), object(4)
memory usage: 528.0+ bytes
         Name   Age Employment Gender       CITY
0      george  20.0          u      M   New york
1       garry  34.0          e      F      delhi
2      shivam  35.0          u      M       None
3       panda  33.0          u      M    karachi
4      python   NaN          u      M   banglore
5  bill gates  78.0          e      M    chennai
6        elon  89.0          e      M   varanasi
7        musk  35.0          e      M   manglore
8       gracy  44.0          e      F        goa
9       harry  56.0          e      M  singapore

Name          0
Age           1
Employment    0
Gender        0
CITY          1
dtype: int64